@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h1>
            Home page
        </h1>
        <p>
            Lorem ipsum, dolem amor
        </p>
    </div>
</div>
