@using BankRepo.Models
@model List<CustomerViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<section class="row">
    <div class="col">
        <h1>
            All customers
        </h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Org.</th>
                        <th>Name</th>
                        <th>Account balances</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerViewModel m in Model)
                    {
                        <tr>
                            <td>#@m.Customer.Id</td>
                            <td class="text-muted">@m.Customer.OrganizationId</td>
                            <td>@m.Customer.OrganizationName</td>
                            <td>
                                <ul class="list-inline">
                                    @foreach (Account account in m.Accounts.OrderByDescending(a => a.Balance))
                                    {
                                        <li class="list-inline-item">
                                            <span class="badge badge-success" data-toggle="tooltip" title="Account #@account.Id">
                                                @account.Balance.ToString("C")
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}
