@model BankViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="row">
    <div class="col">
        <h1>
            All customers
        </h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Org.</th>
                        <th>Name</th>
                        <th>Account balances</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerViewModel customer in Model.Customers)
                    {
                        <tr>
                            <td>#@customer.Id</td>
                            <td class="text-muted">@customer.OrganizationId</td>
                            <td>@customer.OrganizationName</td>
                            <td>
                                <ul class="list-inline">
                                    @foreach (AccountViewModel account in customer.Accounts.OrderByDescending(a => a.Balance))
                                    {
                                        <li class="list-inline-item">
                                            <span class="badge badge-success" title="Account #@account.Id">@account.Balance.ToString("C")</span>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
